body {background-color: rgb(155, 187, 216);}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #00000000; 
  color: #858ffb; 
  padding: 10px 20px; 
  font-size: 50px; 
  text-align: center;}

  .dog{position: relative;}
.dog img{width: 400px;
    padding-left:80px
    display:block;} 

 .rusty{position: relative;}
.rusty img{width: 400px;
    padding-left:80px
    display:block;}
    
    .navigation {display: flex;
gap: 20px;}