body {background-color: rgb(155, 187, 216);}

.overlay-text {
  position: relative;   /* no longer absolute */
  text-align: center;
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  padding: 10px 20px;
}


  .dog{position: relative;}
.dog img{width: 400px;
    padding-left:80px;
    display:block;} 

 .rusty {
  position: absolute;
  top: 200px;  /* vertical position */
  left: 600px; /* horizontal position */
}

.rusty img {
  width: 400px;
}
   
    
    .navigation {display: flex; 
gap: 20px;}